<div class="p-3">
    {{#with program}}
    <div>
        {{#with excursion}}
        <div>
            <h1>{{name}}</h1>
            <div>
                <h2>
                    {{location.city}}
                </h2>
                <h2>
                    {{location.country}}
                </h2>
            </div>
            <h3>{{date}}</h3>
            <hr>
            {{#each program}}
            <div>
                <div>
                    <ul>
                        <h3>{{programname}}</h3>
                        <li>
                            <div>{{name}}</div>
                            <div>{{type}}</div>
                            <div>{{duration}}</div>
                            <br>
                            {{#with details}}
                            <div>
                                {{#with museum}}
                                <h3>Museum:</h3>
                                <div>{{name}}</div>
                                <div>
                                    {{#with location}}
                                    <address>
                                        <div>{{address}}</div>
                                        <div>{{city}}</div>
                                        <div>{{country}}</div>
                                    </address>
                                    {{/with}}
                                </div>
                                <br>
                                <h3>Exhibits:</h3>
                                {{#each exhibits}}
                                <ul>
                                    <div>{{name}}</div>
                                    <div>{{artist}}</div>
                                    <div>{{description}}</div>
                                    <div>{{#if audio_guide}} (audio guide) {{/if}}</div>
                                </ul>
                                <br><br>
                                {{/each}}
                                {{/with}}
                                {{#with venue}}
                                <h4>Venue:</h4>
                                <ul>
                                    <li>
                                        <div>{{name}}</div>
                                        {{#with location}}
                                        <div>{{address}}</div>
                                        <div>{{city}}</div>
                                        <div>{{country}}</div>
                                        {{/with}}
                                    </li>
                                </ul>
                                {{/with}}
                                <br>
                                {{#each performers}}
                                <h4>Performers:</h4>
                                <ul>
                                    <li>
                                        <div>{{name}}</div>
                                        <div>{{type}}</div>
                                    </li>
                                </ul>
                                {{/each}}
                                <br>
                                <div>{{guide.name}}</div>
                                <div>{{guide.language}}</div>
                                <div>{{guide.rating}}</div>
                                <br>
                            </div>
                            {{/with}}
                        </li>
                    </ul>
                </div>
                <br>
                <hr>
                <div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </div>
    {{/with}}
</div>