<main class="p-3 m-2">
    {{#with navigation}}
    <nav class="">
        <div class="card nav mb-5 nav-tabs col-3">
            {{#each links}}
            <div class="nav-item">
                {{#if isDisabled}}
                <div class="m-3 disabled text-muted">Disabled</div>
                {{else}}
                <a class="nav-link" href="{{href}}" target="_blank">{{text}}</a>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </nav>
    {{/with}}
    <section class="row">
        {{#with newsBlock}}
        {{#each cards}}
        <div class="col-md-3">
            <div class="alert alert-dark">
                <h3 class="card-title">{{title}}</h3>
                <p class="text-muted">{{description}}</p>
                {{#if isTop}}
                <div class="text-bg-danger badge rounded-pill">Топ</div>
                {{/if}}
                {{#if isNew}}
                <div class="text-bg-success badge rounded-pill">Нова</div>
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{/with}}
    </section>
    <hr>
    <section class="row">
        {{#with goodsBlock}}
        {{#each tabs}}
        <nav class="nav col-2">
            <div class="nav-tabs">
                <<<<<<< HEAD <div
                    class="nav-item {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled text-muted{{/if}}">
                    =======
                    <div
                        class="nav-item nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled text-muted{{/if}}">
                        >>>>>>> 4ad71f458b6d6d24598948b1f07f364524852879
                        {{text}}
                    </div>
            </div>
        </nav>
        {{/each}}
    </section>
    <hr>
    <section>
        <div class="row">
            {{#each cards}}
            <div class="card col-md-4">
                <div class="card-header">
                    <img src="{{image}}" alt="{{title}}" class="col-12">
                </div>
                <div class="card-body">
                    <h5 class="display-5">{{title}}</h5>
                    <p>{{description}}</p>
                    {{#if isHot}}
                    <div class="badge text-bg-warning rounded-pill">HOT!</div>
                    {{/if}}
                    {{#if isNew}}
                    <div class="badge text-bg-info rounded-pill">New</div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <section class="alert">
        {{#with subscribe}}
        <div class="card text-bg-dark">
            <h2 class="display-6 card-header">{{header}}</h2>
            <div class="card-body">
                <p>{{description}}</p>
                {{#each buttons}}
                <div>
                    <a class="btn btn-primary mb-3" href="{{link}}">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>
    <hr>
    <section class="alert">
        {{#with service}}
        <div class="card text-center">
            <div class=" alert-success text-bg-success">
                <h2 class="display-6 card-header">{{title}}</h2>
                <div class="card-body">
                    <p>{{description}}</p>
                    {{#each buttons}}
                    <div>
                        <a class="btn btn-primary" href="{{link}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/with}}
    </section>
    <hr>
    <<<<<<< HEAD <section>
        <table class="table">
            =======
            <section class="row">
                <table class="col-12">
                    >>>>>>> 4ad71f458b6d6d24598948b1f07f364524852879
                    {{#each footer}}
                    <tr>
                        {{#each this}}
                        <td>
                            <<<<<<< HEAD <a href="{{link}}">{{text}}</a>
                        </td>
                        =======
                        {{#if isDisabled}}
                        <div class="disabled text-muted" href="#">Disabled</div>
                        {{else}}
                        <a href="{{link}}">{{text}}</a>
                        {{/if}}
                        </td>

                        >>>>>>> 4ad71f458b6d6d24598948b1f07f364524852879
                        {{/each}}
                    </tr>
                    {{/each}}
                </table>
            </section>
</main>