<main>
    {{> shopheader}}
    {{> breadcrumb}}
    <h1 class="my-5">{{header}}</h1>

    <div class="row">
        {{#each sortBlock}}
        <div class="col-3">
            <select class="form-select" aria-placeholder="{{placeholder}}" name="sort" id="{{value}}">
                {{#each options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
        {{/each}}
    </div>

    <section class="row">
        {{#with filterBlock}}
        <section class="card col-4">
            <div class="card-body">

                {{#with sellers}}
                <div class="card-body form-check">
                    <label class="form-label">{{title}}</label>
                    {{#each list}}
                    <div class="form-check">
                        <label class="form-check-label">{{value}}</label>
                        <input name="preference" class="form-check-input" type="checkbox">
                    </div>
                    {{/each}}
                </div>
                {{/with}}

                <hr class="my-2">

                {{#with brands}}
                <div class="card-body">
                    <label class="form-label">{{title}}</label>
                    {{#with input}}
                    <input placeholder="{{placeholder}}" class="mb-2 form-control" type="text">
                    {{/with}}
                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label">{{value}}</label>
                        <input name="preference" class="form-check-input" type="checkbox">
                    </div>
                    {{/each}}
                </div>
                {{/with}}

                <hr class="my-2">

                {{#with price}}
                <div class="card-body">
                    <div class="mb-2">{{title}}</div>
                    <input class="mb-2 form-control" placeholder="{{range.from}}" type="text">
                    <input class="form-control" placeholder="{{range.to}}" type="text">
                    {{#with button}}
                    <a class="mt-2 btn btn-outline-secondary" href="{{link}}">{{text}}</a>
                    {{/with}}
                </div>
                {{/with}}

                <hr class="my-2">

                {{#each filterList}}
                <div class="card-body form-check">
                    <label class="form-label">{{title}}</label>
                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label">{{value}}</label>
                        <input name="preference" class="form-check-input" type="checkbox">
                    </div>
                    {{/each}}
                </div>
                <hr class="my-2">
                {{/each}}
            </div>
        </section>
        {{/with}}

        <section class="col-8">
            {{#each goodsList}}
            <div class="card col-6">
                <div class="card-header">
                    <img src="{{img}}" alt="img">
                </div>
                <div class="card-body">
                    <div>
                        {{#if isNew}}
                        <div class="text-bg-info badge rounded-pill">Нове</div>
                        {{/if}}
                        {{#if isHot}}
                        <div class="text-bg-warning badge rounded-pill">HOT!</div>
                        {{/if}}
                    </div>
                    <br>
                    <div>
                        {{#if isFast}}
                        <div class="btn btn-success">Швидка доставка</div>
                        {{/if}}
                        {{#if isFree}}
                        <div class="btn btn-secondary">Безкоштовна доставка</div>
                        {{/if}}
                    </div>

                    <h3>{{name}}</h3>

                    {{#with review}}
                    <div class="text-muted">{{amount}} {{text}}</div>
                    {{/with}}

                    <h4>{{price}}</h4>

                    <div>{{delivery}}</div>

                    <div class="my-1">
                        {{#each buttons}}
                        <a class="btn {{#if isPrimary}}btn-primary{{/if}}{{#if isSecondary}}btn-secondary{{/if}}"
                            href="{{link}}">{{text}}</a>
                        {{/each}}
                    </div>

                    <ul class="my-2">
                        {{#each characteristics}}
                        <li>
                            {{title}}: {{value}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </section>
    </section>
    {{> shopaction}}
    {{> shopfooter}}
</main>