<main class="row col-12">
    {{#with navigation}}
    <div class="row">
        {{#each links}}
        <a href="{{href}}" class="btn btn-link col-2">{{text}}</a>
        {{/each}}
        {{#with button}}
        <div class="col-3">
            <a href="{{href}}" class="btn btn-primary">{{text}}</a>
        </div>
        {{/with}}
    </div>
    {{/with}}
    <hr>
    <br>
    {{#with header}}
    <div>
        <h1>{{title}}</h1>
        <p class="text-muted">{{description}}</p>
        {{#with button}}
        <a class="btn btn-primary" href="{{link}}">{{text}}</a>
        {{/with}}
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with city}}
    <h2>{{title}}</h2>
    <div class="row col-10">
        {{#each cards}}
        <div class="col-5 g-2">
            <div class="card">
                <img src="{{picture.src}}" alt="{{picture.alt}}">
                <div class="card-title">
                    <h3>{{title}}</h3>
                    <p class="card-body">{{description}}</p>
                    {{#with button}}
                    <a class="btn btn-primary col-3" href="{{href}}">{{text}}</a>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{/with}}
    <br>
    {{#with winner}}
    <div>
        <h2>{{title}}</h2>
        {{#with table}}
        <table class="table">
            <thead>
                <tr>
                    {{#each head}}
                    <th>{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each user}}
                <tr>
                    <td>{{place}}</td>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{nickname}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/with}}
    </div>
    {{/with}}
    <br>
    {{#with gallery}}
    <div>
        <h2>{{title}}</h2>
        <div class="row col-12">
            <div class="card">
                {{#each cards}}
                <div class="col-4 g-3">
                    <div class="card-header">{{name}}</div>
                    {{#each items}}
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            {{this}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div>
        <h2>{{title}}</h2>
        <div class="row col-12">
            <div class="card">
                {{#each cards}}
                <div class="col-4 g-3">
                    <div class="card-header">{{name}}</div>
                    {{#each items}}
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            {{this}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div>
        <h2>{{title}}</h2>
        <div class="row col-12">
            <div class="card">
                {{#each cards}}
                <div class="col-4 g-3">
                    <div class="card-header">{{name}}</div>
                    {{#each items}}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {{this}}
                        </li>
                    </ul>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/with}}
    </div>
    <section>
        {{#with relaxion}}
        <h2 class="display-3">{{title}}</h2>
        <div class="row col-8">
            {{#each cards}}
            <div class="col-6 g-2">
                <div class="card text-secondary">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h3 class="card-title">{{title}}</h3>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}

        <br>
        <br>
        <br>
        <br>
        <br>

        {{#with rest}}
        <div class="row col-10">
            {{#each cards}}
            <div class="col-6">
                <div class="card">
                    <div class="card-header text-center"><b>{{header}}</b></div>
                </div>
                <div class="card-body">
                    <h3 class="text-center card-title">{{title}}</h3>
                    <p class="text-center">{{description}}</p>
                    <div class="text-center">
                        <button class="btn-btn-primary">{{button}}</button>
                    </div>
                </div>
                <div class="text-center card-footer">{{footer}}</div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <section>
        {{#with proposition}}
        <h2 class="display-2">{{title}}</h2>
        <div class="row col-10">
            {{#each card}}
            <div class="col-5 g-3">
                <div class="card text-warning">
                    <div class="card-header text-light">{{header}}</div>
                    <div class="card-body">
                        <h3 class="text-light card-title">{{title}}</h3>
                        <p class="text-light">{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
        {{#with footer}}
        <h5 class="display-5">{{title}}</h5>

        <table class="table">
            <tbody>

                <tr>{{#each navigation}}
                    <td>
                        <a class="btn btn-link" href="{{href}}">{{text}}</a>
                    </td>
                    {{/each}}
                </tr>

                <tr>{{#each socialMedia}}
                    <td>
                        <a class="btn btn-dark" href="{{link}}">{{name}}</a>
                    </td>
                    {{/each}}
                </tr>
                <tr>
                    {{#each partners}}
                    <td>
                        <a class="btn btn-info" href="{{link}}">{{name}}</a>
                    </td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
        {{/with}}
    </section>

</main>