<div class="card">

    <br>
    <main>
        {{#with heading}}
        <div>
            {{#with main}}
            <div class="card">
                <div class=" card-body">
                    <div class="display-1">{{title}}</div><br>
                    <div class="text-muted">{{text}}</div><br>
                    {{#with button_text}}
                    <div>
                        <button class="btn btn-primary">{{solid}}</button>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn-outline-primary">{{outline}}</button>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}
            <br>
            {{#with second}}
            <div class="card">
                <div class="card-body">
                    <div class="display-2">{{title}}</div><br>
                    <div class="text-muted">{{text}}</div><br>
                    {{#with button_text}}
                    <div>
                        <button class="btn btn-secondary">{{solid}}</button>
                        <br>
                        <br><br>
                        <button class="btn btn-outline-secondary">{{outline}}</button>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}
            <br>
            {{#with subblock}}
            <div class="card">
                <div class="card-body">
                    <div class="display-3">{{title}}</div><br>
                    <div class="text-muted">{{text}}</div><br>
                    {{#with button_text}}
                    <div>
                        <button class="btn btn-dark">{{solid}}</button>
                        <br><br><br>
                        <button class="btn btn-outline-dark">{{outline}}</button>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}
            <br>
        </div>
        {{/with}}

        <br>

        {{#with nested_display}}
        <div class="card">
            <div class="display-1 card-body">{{title}}</div><br>
            {{#with children_display}}
            <div class="card">
                <div class="card-body">
                    <div class="display-4">{{title}}</div>
                    <div class="text-muted">{{text}}</div>
                    <br>
                    {{#with button}}
                    <button class="btn btn-warning">{{text}}</button>
                    {{/with}}
                </div>
                <br>
                {{/with}}
            </div>
            <div class="card-body">
                <div class="display-6">{{header_text}}</div>
                <br>
                {{#with button}}
                <button class="btn btn-info">{{text}}</button>
                {{/with}}
            </div>
            <br>
        </div>
        {{/with}}
        <br>
        {{#with paragraph}}
        <div class="card">
            <div class="card-body">
                <div class="text-uppercase">{{title}}</div>
                <div class="text-lowercase">{{text}}</div>
                <br>
                {{#with button}}
                <div>
                    <button class=" btn btn-link">{{text}}</button>
                </div>
                {{/with}}
                <br>
                <div class="card">
                    {{#each list_name}}
                    <ul>
                        <li class="card-body">
                            <div class="btn btn-link">{{text}}</div>
                            <div class="btn btn-link">{{url}}</div>
                        </li>
                    </ul>
                    {{/each}}
                </div>
            </div>
        </div>
        <br>
        {{/with}}
    </main>
</div>