<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{#each breadcrumb}}
        <li class="breadcrumb-item">
            {{#if isDisabled}}
            <div href="#" class="breadcrumb">{{name}}</div>
            {{else}}
            <a {{#if url}}class="active" {{else}}class="disabled" {{/if}} href="{{url}}">{{name}}</a>
            {{/if}}
        </li>
        {{/each}}
    </ol>
</nav>