<div class="row">
    <div class="col-4">
        <div class="text-muted">{{number}}</div><br>
        <div>{{status}}</div>
    </div>
    <div class="col-2">
        <div>{{amount.title}}</div>
        <div>{{amount.value}}</div>
    </div>

    <div class="col-4">
        {{#each images}}
        <img class="p-1" src="{{this}}" alt="images">
        {{/each}}
    </div>
    {{#with button}}
    <div class="col-2 pt-4">
        <a class="btn {{#if isPrimary}}btn-primary{{/if}}" href="{{link}}">{{text}}</a>
    </div>
    {{/with}}
</div>